


@media (max-width: 768px){

    .container{
        width: 100%;
    height: 800px;
    background-image: url("web-pics/img-1.jpg");
    background-size: cover;
    background-position-y: center;

    }

    .navbar {
        display: block;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
        box-shadow: 0 0 0 0.5px rgba(92, 91, 91, 0.445);
        cursor: default;
        position: sticky;
        top: -10px;
        margin: auto;
    
    
    
    }
    
}